.SocialIcon-Spotify {
    background-color: #1ED760;
}

.SocialIcon-Spotify span.Icon {
    background-image: url("/plugins/rj-spotify/design/icon4@2x.png") !important;
    background-size: 100% 100% !important;
}
